
@import "tailwindcss";

:root {
  --max-width: 1280px;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --max-width-lg: var(--max-width);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main: #02a85c;
  --color-secondary: #252525;
  --color-light-green: #f0fbea;
  --color-dark-green: #022d19;
  --color-light-orange: #f9f4cc;
  --color-dark-orange: #664b14;
  --color-light-purple: #f0d8fe;
  --color-dark-purple: #691d94;

  --font-inter: var(--font-inter);
  --font-montserrat: var(--font-montserrat);
  --font-dm-sans: var(--font-dm-sans);

  --ease-expo: cubic-bezier(0.3, 1, 0.16, 1);
}

body {
  background: var(--background);
  color: var(--foreground);
}


button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-gray-900;
}

p, input, textarea {
  @apply text-gray-600;
}